@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;


$svg-size: toRem(40);
$text-font: 24px;

.skill-grid {
    border: toRem(5) solid $primary-blue;
    border-radius: toRem(50);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(1fr, 7);
    align-items: center;
    justify-items: start;
    row-gap: toRem(10);
    column-gap: toRem(20);
    width: 100%;
    height: 100%;
    padding: 5%;
    &__heading {
        text-align: center;
        justify-self: center;
        grid-column: 1 / 3;
    }
    svg{
        font-size: $svg-size;
        &:hover {
            fill: $primary-blue;
        }
    }
    &__text {
        font-size: $text-font;
        &:hover {
            fill: $primary-blue;
        }
    }

}