@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
@import "../../sass/resets.scss";

$heading-font: 40px;
$text-font: 24px;

.skill-grid {
    border: 5px solid #3F8EFC;
    border-radius: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(1fr, 7);
    align-items: center;
    justify-items: start;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    padding: 2.5% 2.5%;
    &__heading {
        font-size: $heading-font;
        text-align: center;
        justify-self: center;
        grid-column: 1 / 3;
        font-weight: 500;
    }
    svg{
        font-size: $heading-font;
    }
    &__text {
        font-size: $text-font;
    }

}