@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
@import "../../sass/resets.scss";

$heading-font: 25px;
$info-font: 15px;

.flip-card {
    width: 100%;
    height: 100%;
    border: 3px solid $primary-color;
    border-radius: 4px;
    &:hover {
        .flip-card__inner {
            transform: rotateY(180deg);
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        transition: transform 1s  ease-in-out;
        transform-style: preserve-3d;
        position: relative;
        &__front {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            &__project-img {
                width: 100%;
                height: 100%;
            }
        }
        &__back {
            width: 100%;
            height: 100%;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(auto, 4);
            justify-content: center;
            align-content: center;
            grid-gap: 20px;
            padding: 2.5% 2.5%;
            &__heading {
                grid-column: 1 / 3;
                justify-self: center;
                text-align: center;
                font-weight: 500;
                text-decoration: underline;
                font-size: $heading-font;
            }
            &__info {
                grid-column: 1 / 3;
                font-size: 13px;
                font-weight: 400;
                text-align: center;
                font-size: $info-font;
            }
            &__tools {
                width: 100%;
                grid-column: 1 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $info-font;
                font-weight: 400;
                &__langs {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 20px;
                }
            }
            &__single {
                grid-column: 1 / -1;
                justify-self: center;
            }
            a {
                color: white;
                text-decoration: none;
                justify-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    font-size: $heading-font;
                    &:hover {
                        fill: $primary-color;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

