@use "./variables.scss" as *;

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

@mixin gradient-text {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

@mixin mobile {
    @media (min-width: $mobile-breakpoint) { @content; }
}

@mixin tablet {
    @media (min-width: $tablet-breakpoint) { @content; }
}
