@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

$filter-font: toRem(22);

.languages-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $filter-font;
    font-weight: 500;
    li {
        cursor: pointer;
    }
    &__language-selected {
        background-color: $primary-blue;
        padding: 5px;
    }
}