@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
@import "../../sass/resets.scss";

$filter-font: 22px;

.languages-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $filter-font;
    font-weight: 500;
    li {
        cursor: pointer;
    }
    &__language-selected {
        background-color: $primary-color;
        padding: 5px;
    }
}