@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
@import "../../sass/resets.scss";
@import "../../sass/typography";

.title {
    font-size: 45px;
    font-weight: 700;
    border-bottom: 3px solid $primary-color;
    padding: 0 0 10px 0;
}