@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    &__underline {
        border-bottom: 3px solid $primary-blue;
        padding: 0 0 10px 0;
    }
}

.about__title {
    grid-column: 1 / 3;
    justify-self: center;
}

.portfolio__title {
    justify-self: center;
}

.contact__title {
    grid-column: 1 / 3;
}