@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

.contact {
    display: grid;
    grid-gap: toRem(20);
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
    padding: 0 5%;
    align-items: center;
    &__map {
        height: 500px;
        &__popup {
        }
    }
}