@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

.contact {
    display: grid;
    grid-gap: toRem(20);
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr;
    padding: 1% 5%;
    align-items: center;
    min-height: 92vh;
    &__map {
        height: 100%;
        width: 100%;
        &__marker {
            color: $primary-blue !important;
        }
    }
}

.leaflet-popup-content {
    color: $primary-blue;
}

