@use "../../sass/variables.scss" as *;
// @import "../../sass/mixins.scss";
// @import "../../sass/resets.scss";
// @import "../../sass/typography.scss";

// same as landing

$nav-font: 26px;
$memoji-height: 35px;

.nav-bar {
    height: 50px;
    padding: 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    font-size: $nav-font;
    font-weight: 700;
    background-color: rgba(31, 32, 38, 0.9);
    z-index: 1;
    &__memoji {
        height : $memoji-height;
        object-fit: contain;
    }
    &__links {
        display: flex;
        flex: 0.9;
        justify-content: space-around;
        align-items: center;
        &__link {
            a {
                &:hover {
                    color: $primary-blue;
                }
            }
        }
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0.1;
        &__social {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                &:hover {
                    fill: $primary-blue;
                }
            }
        }
    }
}
