@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
@import "../../sass/resets.scss";
@import "../../sass/typography";

.nav-bar {
    height: 8vh;
    padding: 5px 2.5% 5px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(31, 32, 38, 0.9);
    &__memoji {
        height : 35px;
        object-fit: contain;
    }
    &__links {
        display: flex;
        flex: 0.9;
        justify-content: space-around;
        align-items: center;;
        &__link {
            a {
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0.1;
    }
}